*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    padding: 0.1px;
    position: relative;
    background-color: #fff;
    background-image: url(https://images.unsplash.com/photo-1519091915001-f72a15a88b04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-position: bottom;
    background-size: cover;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: white;
    margin-top: 60px;
    border-radius: 50px;
    width: 600px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

#nav h5{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px 0px;
    transition: all ease 0.5s;
}

#nav h5:hover{
    color: orangered;
}
#page1 h4{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 40px;
    margin-left: 60px;
}

#page1 span{
    color: rgb(255, 68, 0);
}

#page1 h2{
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    right: 60px;
    top: 50px;
}

#page1 h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    line-height: 80px;
    font-weight: 800;
    margin-top: 150px;
    margin-left: 100px;
}

#page1 p{
    margin-top: 25px;
    margin-left: 100px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

#page1 button{
    margin-top:30px;
    padding: 13px 25px;
    border-radius: 10px;
    border: 2px solid orangered;
    font-size: 16px;
    background-color: orangered;
    color: white;
    font-weight: 600;
    margin-left: 100px;
    transition: all ease 0.5s;
}

#page1 button:hover{
    background-color: white;
    color: black;
}

#page2{
    height: 100vh;
    width: 100%;
    padding: 0.1px;
    position: relative;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav2{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    gap: 110px;
}

#nav2 i{
    color: white;
    font-size: 30px;
    background-color: rgb(14, 14, 62);
    padding: 8px;
    border-radius: 7px;
}

#nav2 h2{
    font-size: 20px;
    margin-top:20px;
}

#nav2 p{
    font-size: 15px;
    margin-top: 13px;
}

#page2 img{
    height: 450px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 10px;
}

#page2 h1{
    position: absolute;
    left: 54%;
    top: 33%;
    font-size: 50px;
    line-height:55px
}

#p1{
    position: absolute;
    top: 54%;
    left: 54.5%;
    font-size: 18px;
    font-weight: 300;
}

#p1 p{
    line-height: 20px;
    margin-bottom: 30px;
}

#page2 button{
    padding: 15px 25px;
    border-radius: 10px;
    border: 2px solid orangered;
    background-color: orangered;
    color: white;
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    top: 78%;
    left: 54.5%;
    transition: all ease 0.5s;
}

#page2 button:hover{
    background-color: transparent;
    color: #fff;
}

#page3{
    height: 100vh;
    width: 100%;
    padding: 0.1px;
    position: relative;
    background-color: rgb(4, 4, 52);
    color: #fff;
}

#page3 h1{
    font-size: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    font-weight: 700;
}

#page3 #space{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 65px;
    color: black;
}

#space #space1{
    height: 500px;
    width: 380px;
    background-color: white;
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1512568400610-62da28bc8a13?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y29mZmVlfGVufDB8MXwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

#space1 h2{
    color: #fff;
    position: absolute;
    bottom: 130px;
    left: 30px;
}

#space1 p{
    color: #fff;
    position: absolute;
    bottom: 78px;
    left: 30px;
}

#space1 h3{
    position: absolute;
    bottom: 30px;
    font-size: 25px;
    color: white;
    left: 30px;
}

#space1 button{
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 8px 20px;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: all ease 0.5s;
}

#space button:hover{
    background-color: transparent;
}

#space #space2{
    height: 500px;
    width: 380px;
    background-color: white;
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1544787219-7f47ccb76574?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTl8fGNvZmZlZXxlbnwwfDF8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

#space2 h2{
    color: black;
    position: absolute;
    bottom: 130px;
    left: 30px;
}

#space2 p{
    color: black;
    position: absolute;
    bottom: 78px;
    left: 30px;
}

#space2 h3{
    position: absolute;
    bottom: 30px;
    font-size: 25px;
    color: black;
    left: 30px;
}

#space2 button{
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 8px 20px;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: all ease 0.5s;
}

#space2 button:hover{
    color: black;
}

#space #space3{
    height: 500px;
    width: 380px;
    background-color: white;
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1610632380989-680fe40816c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNvZmZlZXxlbnwwfDF8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

#space3 h2{
    color: #fff;
    position: absolute;
    bottom: 130px;
    left: 30px;
}

#space3 p{
    color: #fff;
    position: absolute;
    bottom: 78px;
    left: 30px;
}

#space3 h3{
    position: absolute;
    bottom: 30px;
    font-size: 25px;
    color: white;
    left: 30px;
}

#space3 button{
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 8px 20px;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: all ease 0.5s;
}

#page3 #i3{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    display: flex;
    gap: 1380px;
    z-index: 1;
}

#page4{
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0.1px;
    background-color: rgb(6, 6, 48);
}

#page4 h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    font-size: 40px;
}

#page4 #nav4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: white;
}

#nav4 h4{
    font-size: 18px;
    margin-left: 50px;
    font-weight: 400;
    transition: all ease 0.5s;
}

#nav4 h4:hover{
    background-color: orangered;
    padding: 7px 12px;
    border-radius: 10px;
}

#line4{
    top: -6.5%;
    height: 2px;
    width: 83%;
    position: absolute;
    left: 52%;
    transform: translate(-50%,-50%);
    background-color: #fff;
}

#hero{
    display: flex;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    gap: 80px;
}

#hero1{
    height: 500px;
    width: 380px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1516684902511-1e07238471ad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGl0YWxpYW4lMjBmb29kfGVufDB8MXwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: top;
    background-size: cover;
}

#hero2{
    height: 500px;
    width: 380px;
    background-color: white;
    border-radius: 10px;
    position: relative;background-image: url(https://images.unsplash.com/photo-1596662951482-0c4ba74a6df6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YnVyZ2VyfGVufDB8MXwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
}

#hero3{
    height: 500px;
    width: 380px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1615653633266-1ee0c84500b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHNhbmR3aWNofGVufDB8MXwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
}

#hero3 h2{
    color: #fff;
    position: absolute;
    bottom: 130px;
    left: 30px;
}

#hero3 p{
    color: #fff;
    position: absolute;
    bottom: 78px;
    left: 30px;
}

#hero3 h3{
    position: absolute;
    bottom: 30px;
    font-size: 25px;
    color: white;
    left: 30px;
}

#hero3 button{
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 8px 20px;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: all ease 0.5s;
}

#hero2 h2{
    color: #fff;
    position: absolute;
    bottom: 130px;
    left: 30px;
}

#hero2 p{
    color: #fff;
    position: absolute;
    bottom: 78px;
    left: 30px;
}

#hero2 h3{
    position: absolute;
    bottom: 30px;
    font-size: 25px;
    color: white;
    left: 30px;
}

#hero2 button{
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 8px 20px;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: all ease 0.5s;
}

#hero1 h2{
    color: #fff;
    position: absolute;
    bottom: 130px;
    left: 30px;
}

#hero1 p{
    color: #fff;
    position: absolute;
    bottom: 78px;
    left: 30px;
}

#hero1 h3{
    position: absolute;
    bottom: 30px;
    font-size: 25px;
    color: white;
    left: 30px;
}

#hero1 button{
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 8px 20px;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: all ease 0.5s;
}

#hero button:hover{
    background-color: transparent;
}

#page4 #i4{
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    display: flex;
    gap: 1380px;
    z-index: 1;
    color: white;
}

#page5{
    height: 100vh;
    width: 100%;
    padding: 60px;
    position: relative;
    background-color: black;
}

#page5 img{
    object-fit: cover;
    object-position: center;
    height: 630px;
    width: 1385px;
}

#page5 h1{
    position: absolute;
    top: 35%;
    text-align: center;
    font-size: 60px;
    line-height: 55px;
    left: 16%;
}

#page5 input{
    position: absolute;
    top: 55%;
    z-index: 1;
    left: 20%;
    border-radius: 10px;
    border: 2px solid orangered;
    padding: 15px 100px;
    background-color: black;
    text-align: left;
    color: white;
}

#page5 button{
    position: absolute;
    left: 28%;
    top: 67%;
    padding: 7px 25px;
    border-radius: 10px;
    border: 2px solid #fff;
    font-size: 15px;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    transition: all ease-in 0.5s;
}

#page5 button:hover{
    background-color: orangered;
}

#page6{
    position: relative;
    height: 55vh;
    width: 1005;
    padding: 0.1px;
    background-color: rgb(0, 0, 0);
    background-image: url(https://images.unsplash.com/photo-1499721297526-536718e770ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-position: 70%;
    background-size: cover;
}

#last{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

#last1 h1{
    font-size: 50px;
    margin-bottom: 20px;
}

#last h1 span{
    color: orangered;
}

#last1 p{
    line-height: 20px;
    margin-bottom: 20px;
}

#i-l{
    display: flex;
    gap: 12px;
    font-size: 20px;
    color: black;
}

#i-l i{
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

#last2 h2{
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 10px;
}

#last2 p{
    margin-top: 18px;
}

#last3 h3{
    font-size: 30px;
    margin-top: 10x;
    margin-bottom: 25px;
}

#last3 h4{
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: -1px;
}

#last4 h3{
    font-size: 30px;
    margin-bottom: 30px;
}

#last4 p{
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
}

#last4 img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#line6{
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 70px;
}

#l-p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 18px;
}